.section {
    max-width: 300px;
    padding: 1rem 3rem;
}

.container {
    display: flex;

}

.containerColDirection {
    flex-direction: column;
    row-gap: 1rem;
}

.containerRowDirection {
    flex-direction: row;
    gap: 0.4rem;
}

.container>* {
    height: 2rem;
}

.header {
    text-align: center;
    padding-bottom: 1rem;
}

.disabledButton {
    background: var(--disabled-color);
    color: white;
    border: none;
}

.enabledButton {
    background: var(--primary-color);
    color: white;
}