.containerFlexCol {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.containerGridRow {
    display: grid;
    grid-template-columns: 10rem 8rem auto;
    gap: 0.4rem;
}

.container>* {
    height: 2rem;
}

.disabledButton {
    background: var(--disabled-color);
    color: white;
    border: none;
}

.enabledButton {
    background: var(--primary-color);
    color: white;
}